{% extends "base.html" %}

{% block title %}Aggregating statistics{% endblock title %}

{% block page_content %}
{{ df_aggregation_statistics.to_html|safe }}

<br>
<br>

<form id="aggregating-statistics-form" method="get" action="{% url 'e_commerce_data_aggregating_statistics' %}">
    
                    <select name="aggregatingStatistics" onchange="this.form.submit();">
                        <option value="">-- Select aggregating statistics --</option>
                        <option value="averageProfitByCategories">Average profit for different categories</option>
                        <option value="averageSalesByCategories">Average sales for different categories</option>
                        <option value="averageProfitBySub-Categories">Average profit for different sub-categories</option>
                        <option value="averageSalesBySub-Categories">Average sales for different sub-categories</option>
                        <option value="paymentModeCounts">Payment mode counts</option>
                    </select><br>
</form><br>
{{ aggregating_statistics_table|safe }}
{% endblock page_content %}