{% extends "base.html" %}

{% block title %}Plots{% endblock title %}

{% block page_content %}
<form id="plot-form" method="get" action="{% url 'plots' %}">
    <h4>Select a plot</h4>
                    <select name="kindOfPlot" onchange="this.form.submit();">
                        <option value="">-- Select a plot --</option>
                        <option value="salesByProduct">Sales by product</option> 
                        <option value="salesByCategory">Sales by category</option>
                        <option value="salesBySub-Category">Sales by sub-category</option> 
                        <option value="salesByCity">Sales by city</option>   
                        <option value="quantityByProduct">Sold quantity by product</option>
                        <option value="quantityByCategory">Sold quantity by category</option> 
                        <option value="quantityBySub-Category">Sold quantity by sub-category</option>      
                    </select><br>
                    <!--<input type="submit" value="Submit">-->
</form><br>
<div style="all: initial;">
{{ plot|safe }}
</div>
{% endblock page_content %}